@media (max-width: 1245px){

    .App {
        .homeContainer{
            .mainTitleContainer{
                .titleImageContainer{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .menuContainer{
            max-height: 140vh;
            .entireMenuContainer{
                .dessertSection, .drinkSection{
                    left: 400px;
                    bottom: 70px;
                    margin-right: 20px;
                }
            }
        }

        
        
    }
}

@media (max-width: 1030px) {
    .App{

        .homeContainer{
            .mainTitleContainer{
                .titleImageContainer{
                    img{
                        display: none;
                    }
                }
            }
        }

        .menuContainer{
            max-height: 140vh;

            .entireMenuContainer{
                .dessertSection, .drinkSection{
                    left: 350px;
                }
            }
        }

        .historyContainer{

            .missionContainer{
                flex-direction:column-reverse;

                .restaurantBanner{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 940px){

    .App {

        .homeContainer{
            .mainTitleContainer{
                .titleImageContainer{
                    max-width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .menuContainer{
            max-height: 140vh;

            

            .entireMenuContainer{

                .appetizerSection,
                .riceSection,
                .noodleSection,
                .skewerSection{
                    justify-self: stretch;

                }
                
                .dessertSection, .drinkSection{
                    left: 350px;
                    bottom: 70px;
                    margin-right: 20px;

                }
            }
        }

        
        
        
    }
}

@media (max-width: 768px){
    .App{

        .homeContainer{
            .wrapper{
                max-width: 100%;
            }

            .mainTitleContainer{
                flex-direction: column;
                justify-content: flex-start;
                .titleImageContainer{
                    img{
                        display: none;
                    }
                }   
                .mainTitle{
                    width: 100vw;

                    .contactGalleryContainer{
                        max-width: 100%;

                        .reservationContainer, .galleryTitleContainer{

                            .shadow{
                                width: 100%;
                            }
                        }

                    }
                }
            }
            
        }

        .historyContainer{
            padding-top: 10vh;
            h1{
                span{
                    position:static;
                }
            }
        }

        .menuContainer{
            .entireMenuContainer{
                padding: 0;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                .skewerSection{
                    height: 250px;
                }
                .dessertSection, .drinkSection{
                    position: static;
                    box-shadow: none;
                    margin: 0;
                    justify-self: stretch;
                    text-align: left;
                    background-color: rgb(7, 52, 57, 0.7);
                    width: inherit;
                    h1{
                        border-bottom: 2px solid $gold;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px){
    .App{
        .menuContainer{
            padding-top: 25vh;
            .kitchenBanner{
                h1{
                    width: 100%;
                    text-align: center;
                    display:block;
                    left: 0;
                    border: none;
                    text-decoration: underline 2px solid $gold;
                }
            }
            .wrapper{
                max-width: 100%;
            }
            .entireMenuContainer{
                display:grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 1fr auto auto;
            }
        }
        .historyContainer{
            padding-top: 75vh;
        }

    }
}