@import "mixin";
@import "setup";
@import "contactModal";
@import "galleryModal";

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
}

.App {
  font-size: 62.5%;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    transition: 0.5s;
    padding: 5px 0 10px;
    background-image: url(../assets/side-menu.jpg);
    background-size: cover;

    .navContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;

      h1 {
        margin: 0;
        @include fontBaskerville;
        font-size: 1.5rem;
        color: white;
        transition-duration: 0.3s;

      }

      li {
        list-style: none;
        @include fontBaskerville;
        padding-top: 5px;
        
        a{
          font-size: 1rem;
          color: white;
          text-decoration: none;
          transition-duration: 0.5s;
        }

        &:hover {
          h1, a{
            color: $gold;
            transform:scale(1.2);
          }
        }

      }
      
    }
  }

  .homeContainer,
  .menuContainer,
  .historyContainer{
    // background-image: url(../assets/side-menu.jpg)
    // background-color: $richBlack;
    // background-size: contain;
    width: 100%;
  }

  .homeContainer {
      height: 100vh;
      display:flex;
      align-items: flex-start;
      background-image: url(../assets/titleImage.jpg);
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center center;
      
      .mainTitleContainer {
        padding-top: 20vh;
        .mainTitle{
          width: 65%;

          .mainTitleDes{
            h2{
              font-size: 2rem;
              color: white;
              @include fontBaskerville;
            }
            p{
              color: white;
              font-size :1.3rem;
              @include fontAbel;
              text-align: left;
              margin:0;
              padding-bottom: 10px;
            }

            a{
              font-size: 1rem;
              color: white;
              @include fontBaskerville;
              cursor: pointer;
              background-color: $gold;
              padding: 5px 20px;
              transition-duration: 0.5s;
              border-radius: 3px;
              &:hover{
                color: $richBlack;
              }
            }
          }
          
          .contactGalleryContainer {
            display:grid;
            grid-template-columns: 1fr 1fr;
            height: 50%;
            .galleryTitleContainer, .reservationContainer{
              opacity: 0.7;
              transition: 0.5s;
              position: relative;
              top: 3em;
              height: 50%;
              &:hover{  
                opacity: 1;
              }
    
              h1{
                position: absolute;
                @include fontBaskerville;
                font-size: 1.5rem;
                color: white;
                width: 100%;
                text-align:center;
              }
    
                img {
                  width: 100%;
                  height: 200px;
                }
    
                .shadow{
                  width: 394px;
                  position: relative;
                  height: 200px;
                  transition: 0.3s;
                  cursor: pointer;
                  bottom: 202px;
                  &:hover{
                    box-shadow: inset 0 0 0 10px $gold;
                  }
                
              }
            }
        }

        }
      }
      
  }

  .menuContainer {
    background-color: $richBlack;

    .alaCarte{
      text-transform: uppercase;
      @include fontBaskerville;
      font-size: 2rem;
      color: white;
      text-align: center;
      margin-top: 5vh;
    }

    .kitchenBanner {
      img {
        overflow: hidden;
        height: 50vh;
        width: 100%;
        object-fit: cover;
        object-position: 10% 30%;
        border-top: solid 3px $gold;
        // opacity: 0.8;
    }
    }
    .entireMenuContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: end;
      height: 70vh;
      border-top: 5px solid black;

      .price{
        padding-top: 5px;
      }

      .appetizerSection,
      .riceSection,
      .noodleSection,
      .skewerSection {
        justify-self: center;
        padding: 10px;
        .price {
          text-align: right;
          color: white;
        }

        ul li {
          list-style-position: inside;
          list-style: none;

          &:before {
            content: "⬥";
            color: rgb(141, 90, 2, 0.6);
            padding-right: 2px;
          }
        }

        .price {
          font-size: 1rem;
        }

        .app,
        .rice,
        .noodle {
          border-bottom: 2px solid rgb(#ffff, 0.5);
        }

        .app {
          span {
            color: lightgreen;
            font-size: 0.8rem;
            padding-left: 5px;
          }
        }

        .rice,
        .noodle {
          span {
            color: red;
            font-size: 0.8rem;
            padding-left: 5px;
          }
        }
      }

      .drinkSection,
      .dessertSection {
        position: relative;
        left: 600px;
        bottom: 230px;
        text-align: right;
        padding: 10px;
        height: 250px;
        width: 250px;
        ul li {
          list-style-position: outside;
          list-style: none;
          &:after {
            content: "⬥";
            color: rgb(7, 52, 57, 0.7);
            padding-right: 2px;
          }
        }
        .price {
          text-align: left;
        }

        h1{
          border-bottom: 2px solid $gold;
        }
        h2 {
          color: $gold;
        }

        .dessert{
          border-bottom: 2px solid rgb(#ffff, 0.5);

        }
      }

      h1 {
        font-size: 1.5rem;
        @include fontBaskerville;
        color: white;
        border-bottom: 2px solid $gold;
      }

      h2 {
        color: $gold;
        font-size: 1.5rem;
        @include fontAbel;
        margin-top: 5px;
        margin-bottom: 0;
      }

      p {
        font-size: 1rem;
        @include fontAbel;
        color: white;
        margin: 0;
      }

      ul {
        padding: 0;
        li {
          @include fontAbel;
          font-size: 1rem;
          color: white;
        }
      }
    }
  }

  .historyContainer {
    background-color: #CFDBD5;
    display:flex;
    flex-direction: column;
    align-content: center;
    padding: 0 0 5vh;

    h1{
      @include fontBaskerville;
      font-size: 2rem;
      color: $gold;
      text-align:center;
      text-decoration: underline 2px solid $richBlack;
    }

    span {
      position: relative;
      bottom: 70px;
      border-bottom: 2px solid $gold;
    }
    
    h2 {
      @include fontBaskerville;
      font-size: 1rem;
      color: white;
    }

    p {
      font-size: 1rem;
      @include fontAbel;
      color: white;
      height: 100%;
      line-height: 30px;

    }
    
    .missionContainer {
      display: flex;
      justify-content: center;
      padding: 0 0 10px;
    }

    .valuesContainer{
      display:flex;
      flex-direction: row-reverse;
    }

    .storyContainer {
      padding: 20px;
      background-color: $richBlack;
    }

    .restaurantBanner {
      max-width: 100%;
      .secondImage{
        width: 100%;
      }
    }

    .historyImage{
      img{
        overflow: hidden;
        height: 50vh;
        width: 100%;
        object-fit: cover;
        object-position: 10% 30%;
        border-top: solid 3px $gold;
      }
    }
    
  }
}

@import "media";
